body{
    overflow-x: hidden;
}

p{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Oswald', sans-serif;
}

.AboutMeContent{
    border-left: 3px solid black;
}

.AboutMeHeading{
    position: relative;  
    }

.AboutMeHeading::after {
    display: block;
    content: '';
    width: 10%;
    height: 3px;
    background: #000;
    position: absolute;
    bottom: -5px;
    left: 45%;
    padding-left: auto;
}