body{
    overflow-x: hidden;

    font-family: 'Oswald', sans-serif;
    color: #25221C;
}

h1{
    font-family: 'Oswald' , sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
}

/* cards */

.cards{
    width: 400px;
    height: 180px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #25221C;
    margin-left: 200px;
}
.cards img{
    height: 5rem;
    margin-top: 40px;
    margin-left: 20px;
}

.cards h1{
    font-size: 30px;
    margin-top: 50px;
    margin-left: 50px;
}

.cards1{
    width: 400px;
    height: 180px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #25221C;
    margin-right: 40px;
}
.cards1 img{
    height: 5rem;
    margin-top: 40px;
    margin-left: 20px;
}

.cards1 h1{
    font-size: 30px;
    margin-top: 50px;
    margin-left: 50px;
}


/* Navbar */

.nav-item
{
    margin-right: 25px;
    font-size: 18px;
}

.navbar-brand{
    font-weight: 600;
}


/* Herosection */

.herosection{
    background-image: url("../img/s3.jpg");
    width: 100%;
    height: 100vh;
}

.intro h1{
    font-weight: 800;
    letter-spacing: 5px;
    font-size: 70px;
    padding-bottom: 20px;
}

.vp{
    border: 3px solid black;
    font-size: 20px;
    padding: 10px 10px;
    background-color: transparent;
    position: relative;
    left: 46%;
    font-weight: bold;
}

.intro{
    padding-top: 220px;
}
h1{
    font-family: 'Oswald', sans-serif;
}

.AboutMeContent{
    border-left: 3px solid black;

}

.AboutMeContent h1{
    letter-spacing: 10px;

    font-size: 50px;
    font-weight: bold;
}

.AboutMeHeading{
    position: relative;
    letter-spacing: 10px;
    font-size: 60px;
    font-weight: bold;
}

.AboutMeHeading::after {
    display: block;
    content: '';
    width: 10%;
    height: 3px;
    background: #000;
    position: absolute;
    bottom: -5px;
    left: 45%;
    padding-left: auto;

}


/* my work */

.MyWorkHeading{
    position: relative;
    font-weight: 800;
    letter-spacing: 5px;
}

.MyWorkHeading::after {
    display: block;
    content: '';
    width: 10%;
    height: 3px;
    background: #000;
    position: absolute;
    bottom: -5px;
    left: 45%;
    padding-left: auto;

}
.MyWorkContent{
letter-spacing: 2px;
}

.MyWorkCards{
    height: 500px;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    margin-left: 180px;
}

.MyWorkCards1{
    height: 500px;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    margin-right: 180px;
}

.MyWorkCards img{
    width: 500px;
}
.MyWorkCards1 img{
    width: 500px;
}

.MyWorkButton{

    border: 3px #25221C;
    display: flex;
  justify-content: center;
  align-items: center;
}

.MyWorkButton button{
    background-color: transparent;
    border: 2px #25221C solid;
    color: #25221C;
    padding: 20px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
}


/* Contact Us */

.ContactUsHeading{
    position: relative;
    letter-spacing: 10px;
    font-size: 60px;
    font-weight: bold;
}

.ContactUsHeading::after {
    display: block;
    content: '';
    width: 10%;
    height: 3px;
    background: #000;
    position: absolute;
    bottom: -5px;
    left: 45%;
    padding-left: auto;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid     #25221C;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }


  .container {
    border-radius: 5px;
    padding: 20px;
  }

  .contactUsButton{
      padding: 10px 50px !important;
  }

/* footer */

.footer {
    width: 100%;
    background-color:   #f0f0f0;
    color: white;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;

 }

 .footer i{
    font-size: 80px;
    color: #25221C;
    margin-left: 50px;
    margin-right: 50px;
 }

 /* Testimonial Section Styling */
 
 .TestimonialSection{
     background-color: lightgray;
     border-top: lightslategrey ;
     border-bottom: lightslategrey;
     border-width: 2px;
     padding-bottom: 10%;
 }

.TestimonialHeading{
    padding: 0 0 3% 0;
}

 .slickSlider{
     height: fit-content;
 }

 .slick-prev:before, .slick-next:before{
    border: solid;
    border-color: gray;
    width: fit-content;
    height: fit-content;
    padding: 15px 30px;
 }

 .slick-prev{
    left: -190px !important;
 }

 .slick-next{
    right: -140px !important;
 }

 .slick-prev:before{
    content: '<' !important;
    color: gray !important;
    font-weight: bolder !important;
    font-size: 50 !important;
 } 
 
 .slick-next:before{
    content: '>' !important;   
    color: gray !important; 
    font-weight: bolder !important;
    font-size: 50 !important;
 }
 
 .slick-dots{
    position: static !important;
}

.slide h1, .slide p{
    font-weight: bold;
    letter-spacing: 3px;
}