body{
    overflow-x: hidden;

    font-family: 'Oswald', sans-serif;
    color: #25221C;
}

h1{
    font-family: 'Oswald' , sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
}

/* cards */

.cards{
    width: 400px;
    height: 180px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #25221C;
    margin-left: 200px;
}
.cards img{
    height: 5rem;
    margin-top: 40px;
    margin-left: 20px;
}

.cards h1{
    font-size: 30px;
    margin-top: 50px;
    margin-left: 50px;
}

.cards1{
    width: 400px;
    height: 180px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #25221C;
    margin-right: 40px;
}
.cards1 img{
    height: 5rem;
    margin-top: 40px;
    margin-left: 20px;
}

.cards1 h1{
    font-size: 30px;
    margin-top: 50px;
    margin-left: 50px;
}


/* Navbar */

.nav-item
{
    margin-right: 25px;
    font-size: 18px;
}

.navbar-brand{
    font-weight: 600;
}


/* Herosection */

.herosection{
    background-image: url("../img/s3.jpg");
    width: 100%;
    height: 100vh;
}

.intro h1{
    font-weight: 800;
    letter-spacing: 5px;
    font-size: 70px;
    padding-bottom: 20px;
}

.vp{
    border: 3px solid black;
    font-size: 20px;
    padding: 10px 10px;
    background-color: transparent;
    position: relative;
    left: 46%;
    font-weight: bold;
}

.intro{
    padding-top: 220px;

h1{
    font-family: 'Oswald', sans-serif;
}

.AboutMeContent{
    border-left: 3px solid black;
}

.AboutMeHeading{
    position: relative;  
    }

.AboutMeHeading::after {
    display: block;
    content: '';
    width: 10%;
    height: 3px;
    background: #000;
    position: absolute;
    bottom: -5px;
    left: 45%;
    padding-left: auto;

}
